body,
html {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
.transition {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body {
    background-color: #f9f9f9;
}

.page {
    background: linear-gradient(270deg, #00b2ee, #0088b6, #58c5ea);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}
.shadow {
    box-shadow: 1px 7px 16px 1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 1px 7px 16px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 1px 7px 16px 1px rgba(0, 0, 0, 0.12);
}
label {
    display: block;
}
.mtop16 {
    margin-top: 16px !important;
}
.box {
    background-color: white;
    padding: 40px;
    width: 480px;
    border-radius: 16px;

    h2.title {
        color: #2c2c2c;
        display: block;
        font-weight: 500;
        font-size: 1.5em;
        margin: 0px;
        padding: 0px;
        text-align: center;
        margin-top: 16px;
    }
    .logo {
        display: block;
        width: 100%;

        img {
            display: block;
            width: 50%;
            margin: 0px auto;
        }
    }
}

.group {
    position: relative;
    width: 100%;
    margin-top: 4px;
    input {
        border: 1px solid #cccc;
        border-radius: 4px;
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 16px;
        padding-left: 48px;
        &:focus {
            outline: none;
            border: 1px solid #00b2ee;
        }
    }
    i {
        color: #2c2c2c;
        position: absolute;
        font-size: 1.5em;
        z-index: 1;
        top: 13px;
        left: 18px;
    }
}

.btn {
    display: block;
    width: 100%;
    border: 0px;
    background-color: #00b2ee;
    border: 1px solid #00b2ee;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.5em;
    &:hover {
        background-color: #f7cd4c;
        color: #222;
        border: 1px solid #f7cd4c;
    }
}

.page_app {
    background-color: #fff;
    .box {
        background-color: transparent !important;
        border-bottom: 0px !important;
        width: 100% !important;
        .logo {
            img {
                width: 60% !important;
            }
        }
        h2.title {
            color: white;
        }
    }
    label {
        color: white;
    }
    .group {
        input {
            border: 0px !important;
            &:focus {
                border: 0px !important;
            }
        }

        i {
            top: 11px;
            left: 16px;
        }
    }
    .btn {
        background-color: #f7cd4c;
        color: #222;
        border: 0px;
    }
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
